.nav{
    background-color: white;
    position: fixed;
    margin-top: -10px;
}
.navbar{
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: white;
}
.start{
    justify-content: start;
    padding: 5px;
}
.middle{
    justify-content: center;
}
.end{
    justify-content: end;
    padding: 1px;
    margin-right: 5px;
}
.menu{
    padding-right: 21px;
    font-size: x-large;
    background: transparent;
    border: none;
    align-items: center;
}
.menu:hover{
    cursor: pointer;
}
.logo img{
    width: 92px;
    height: 21px;
    align-items: center;
}
.logo:hover{
    cursor: pointer;
}
.searchBar{
    margin-left: 278px;
    margin-right: 215px;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
}
.searchbox{
    width: 495px;
    height: 26px;
    border-radius: 30px 0 0 30px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.314);
    padding: 0.375rem 1.25rem;
    font-size: medium;
    font-weight: 300;
    line-height: 1.5;
    background-color: white;
}
.searchbox:active{
    border-radius: 30px 0 0 30px;
    border-color: rgba(128, 128, 128, 0.416);
}
.searchbutton{
    height: 40px;
    padding: 7.75px 1.75rem;
    margin-left: -4px;
    border-radius: 0 30px 30px 0;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.314);
    background-color: rgba(128, 128, 128, 0.055);
}
.bi-search{
    font-size: large;
}
.mic{
    font-size: large;
    border-radius: 100px;
    border: none;
    height: 40px;
    width: 40px;
    margin-left: 10px;
}
.mic:hover{
    background-color: rgba(128, 128, 128, 0.29);
    cursor: pointer;
}
.live{
    height: 40px;
    width: 40px;
    border-radius: 100px;
    margin-left: 15px;
    border: none;
    background: transparent;
    font-size: x-large;
}
.live:hover{
    background-color: rgba(128, 128, 128, 0.089);
    cursor: pointer;
}
.notification{
    border-radius: 100px;
    height: 40px;
    width: 40px;
    margin-left: 15px;
    border: none;
    background: transparent;
    font-size: x-large;
}
.notification:hover{
    background-color: rgba(128, 128, 128, 0.089);
    cursor: pointer;
}
.profile{
    border-radius: 100px;
    height: 40px;
    width: 40px;
    margin-left: 15px;
    border: none;
    background: transparent;
    font-size: xx-large;
    color: rgba(128, 128, 128, 0.405);
}
.profile:hover{
    cursor: pointer;
}
.menu-bar{
    background-color: white;
    width: 70px;
    height: 675px;
    justify-content: start;
    margin-top: -64px;
    position: fixed;

}
.menu-button{
    width: 60px;
    height: 80px;
    background: transparent;
    border-radius: 15px;
    border: none;
}
.menu-button:hover{
    background-color: rgba(128, 128, 128, 0.089);
}
.menu-icon{
    font-size: 22px;
}
.menu-text{
    text-decoration: none;
    font-size: 10px;
    color: black;
}
.suggestionBar{
    background-color: white;
    width: 1425px;
    height: 56px;
    padding-top: 60px;
    margin-left: 71px;
}
.suggestion-button{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    font-size: 13px;
    font-weight: bold;
    font-family: "Roboto", "Arial", sans-serif;
}
.suggestion-button-arrow{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 15px;
    border: none;
    border-radius: 50px;
    font-size: 17px;
    font-weight: bolder;
    background-color: white;
}
.suggestion-button-arrow:hover{
    background-color: rgba(128, 128, 128, 0.089);
    cursor: pointer;
}
.suggestion-button:hover{
    background-color: rgba(128, 128, 128, 0.29);
    cursor: pointer;
}
.suggestion-button:active{
    background-color: rgb(5, 2, 2);
    color: white;
}
.video-section{
    margin-left: 85px;
}
.videos{
    height: 207px;
    border-radius: 15px;
}
.videos:hover{
    box-shadow: inset #d1d1d145 100px 100px 100px 100px;
    cursor: pointer;
    border-radius: 0;
}
.video-play{
    padding-top: 196px;
}
.video-info{
    width: 345px;
}
.info-profile{
    width: 50px;
    height: 100%;
}
.info-profile img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-top: 10px;
    margin-right: 10px;
}
.info-text{
    width: 258px;
    margin-left: 51px;
    margin-top: -44px;
}
.info-text a{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}
.info-text p{
    font-family: "Poppins", sans-serif;
    color: rgba(0, 0, 0, 0.558);
    font-size: 15px;
}
.info-menu{
    width: 20px;
    height: 130px;
    margin-left: 322px;
    margin-top: -104px;
    font-size: large;
}
.info-menu:hover{
    cursor: pointer;
}
.video-container1{
    width: 351px;
}
.video-container2{
    width: 351px;
    margin-left: 351px;
    margin-top: -351px;
}
.video-container3{
    width: 351px;
    margin-left: 716px;
    margin-top: -351px;
}
.video-container4{
    width: 351px;
    margin-left: 1074px;
    margin-top: -351px;
}
.video-container2 .info-menu{
    margin-top: -80px;
}
.video-container4 .info-menu{
    margin-top: -80px;
}

.banner{
    height: 300px;
    margin-left: 85px;
    padding-top: 110px;
}
.banner-content{
    padding: 2px;
    margin-right: 8rem;
}
.bannerhead{
    font-family: "Oswald", sans-serif;
    font-size: 27px;
}
.bannerlogo{
    color: black;
    font-size: larger;
    margin-left: 16px;
}
.bi-youtube{
    color: red;
}
.bannertext{
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: xx-large;
    margin-left: 16px;
    font-family: "Poppins", sans-serif;
}
.cta-button{
    margin-left: 16px;
    padding: 10px 15px;
    border-radius: 50px;
    border-width: 1px;
    background-color: white;
}
.cta-button:hover{
    background-color: rgba(128, 128, 128, 0.089);
    cursor: pointer;
}
.close-button{
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    top: 0;
    right: 0;
    padding: 5px;
    
}
.close-button:hover{
    background-color: rgba(128, 128, 128, 0.089);
    cursor: pointer;
    border-radius: 50px;
}
.video-section2{
    margin-left: 85px;
}
.close{
    margin-left: 84rem;
    margin-top: -15rem;
}
.shorts-container{
    margin-left: 84px;
    margin-right: 8rem;
    margin-bottom: 20px;
}
.shorts{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: x-large;
}
.shorts-icon{
    color: red;
    font-size: x-large;
    padding-right: 1%;
}
.shorts-container .close{
    margin-left: 84rem;
    margin-top: -2rem;
}
.shorts-body{
    margin-top: 35px;
    width: 86rem;
}
.shorts-play{
    padding-top: 388px;
}
.shorts-1{
    width: 220px;
}
.shorts{
    width: 220px;
    border-radius: 15px;
}
.shorts-info{
    width: 219px;
    margin-top: 10px;
}
.shorts-text{
    width: 190px;
}
.shorts-text a:hover{
    cursor: pointer;
}
.shorts-text a{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}
.shorts-text p{
    font-family: "Poppins", sans-serif;
    color: rgba(0, 0, 0, 0.558);
    font-size: 15px;
}
.shorts-menu{
    width: 20px;
    height: 130px;
    margin-left: 193px;
    margin-top: -100px;
    font-size: large;
}
.shorts-menu:hover{
    cursor: pointer;
}
.shorts-2{
    width: 220px;
    margin-left: 234px;
    margin-top: -562px;
}
.shorts-3{
    width: 220px;
    margin-left: 472px;
    margin-top: -558px;
}
.shorts-4{
    width: 220px;
    margin-left: 709px;
    margin-top: -561px;
}
.shorts-5{
    width: 220px;
    margin-left: 945px;
    margin-top: -569px;
}
.shorts-6{
    width: 220px;
    margin-left: 1180px;
    margin-top: -559px;
}
.shorts-1 .shorts-menu{
    margin-top: -78px;
}
.shorts-2 .shorts-menu{
    margin-top: -81px;
}
.shorts-3 .shorts-menu{
    margin-top: -61px;
}
.shorts-4 .shorts-menu{
    margin-top: -58px;
}
.shorts-5 .shorts-menu{
    margin-top: -79px;
}
.shorts-6 .shorts-menu{
    margin-top: -61px;
}
.hr1-line{
    margin-left: 84px;
    width: 526px;
}
.show-more-button{
    margin-left: 611px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 20px;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.425);
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-size: medium;
}
.show-more-button:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.103);
}
.show-more{
    margin-top: -30px;
}
.hr2-line{
    margin-left: 917px;
    width: 526px;
    margin-top: -17px;
}
.show-more .bi{
    font-size: larger;
}
.show-more-container{
    margin-top: -20px;
    margin-bottom: 70px;
}